<!-- <div class="sign-in">-->
<!--   <div class="sign-in__header sign-in-header">-->
<!--     <sign-in-menu></sign-in-menu>-->
<!--   </div>-->

<!--   <div class="sign-in__content">-->
<!--     <sign-in-form class=""></sign-in-form>-->
<!--   </div>-->

<!--   <div class="sign-in__footer">-->
<!--     <sign-in-footer></sign-in-footer>-->
<!--   </div>-->
<!--</div>-->



<div class="app-sign-in" style="background-image: url('assets/sign-in-bg.jpg');">
  <div class="app-sign-in-menu">
    <a class="app-sign-in-menu__link" href="#">
      <i class="app-sign-in-menu__link-icon"></i>
      <span class="app-sign-in-menu__link-text">Provider Login</span>
    </a>
  </div>

  <div class="app-sign-in-content">
    <div class="app-sign-in-form-wrapper">
      <div class="app-sign-in-logo">
        <img class="app-sign-in-logo__img" src="assets/customer.png"/>
      </div>
      <div class="app-sign-in-form">
        <label class="app-sign-in-form__label">Enter your clinician`s room name:</label>

        <!-- native -->
        <select class="app-sign-in-form__select" type="select" name="rooms" placeholder="Dr. Dylan">
          <option class="app-sign-in-form__option" value="1">Room 1</option>
          <option class="app-sign-in-form__option" value="2">Room 2</option>
          <option class="app-sign-in-form__option" value="3">Room 3</option>
        </select>

        <!-- custom -->
        <!-- <div class="app-sign-in-form-select" type="select" name="rooms">
          <input class="app-sign-in-form-select__input" type="text" placeholder="Dr. Dylan"/>
          <div class="app-sing-in-from-select__option-list">
            <div class="app-sign-in-form-select__option" value="1">Room 1</div>
            <div class="app-sign-in-form-select__option" value="2">Room 2</div>
            <div class="app-sign-in-form-select__option" value="3">Room 3</div>
          </div>
        </div> -->

        <button class="app-sign-in-form__btn">Enter room</button>
      </div>
    </div>
  </div>

</div>
