<div class="app-sing-in-form">
  <div class="app-sing-in-form__logo">
     <img class="app-sign-in-form__log-img" src="assets/customer.png"/>
  </div>
  <div class="app-sing-in-form__form">
    <div class="app-sing-in-form__label">Enter your clinician’s room name:</div>

    <div class="app-sing-in-form__select-wrapper">
      <span class="app-sing-in-form__select-value">{{ value }}</span>
      <select class="app-sing-in-form__select" [(ngModel)]="value">
        <option>Room1</option>
        <option>Room2</option>
        <option>Room3</option>
      </select>
    </div>

    <button class="app-sing-in-form__button">Enter room</button>
  </div>

</div>