<div class="app-sign-in">
  <img class="app-sign-in__bg-image" src="assets/sign-in-bg.jpg"/>

  <div class="app-sign-in-menu">
    <a class="app-sign-in-menu__link" href="#">
      <i class="app-sign-in-menu__link-icon"></i>
      <span class="app-sign-in-menu__link-text">Provider Login</span>
    </a>
  </div>

  <div class="app-sign-in-content">
    <div class="app-sign-in-logo">
      <img class="app-sign-in-logo__img" src="assets/customer.png"/>
    </div>
    <div class="app-sing-in">
      <label class="app-sing-in__label">Enter your clinician`s room name:</label>

      <!-- native -->
      <select class="app-sing-in__select" type="select" name="rooms" placeholder="Dr. Dylan">
        <option class="app-sing-in__option" value="1">Room 1</option>
        <option class="app-sing-in__option" value="2">Room 2</option>
        <option class="app-sing-in__option" value="3">Room 3</option>
      </select>

      <!-- custom -->
      <!-- <div class="app-sing-in-select" type="select" name="rooms">
        <input class="app-sing-in-select__input" type="text" placeholder="Dr. Dylan"/>
        <div class="app-sing-in-from-select__option-list">
          <div class="app-sing-in-select__option" value="1">Room 1</div>
          <div class="app-sing-in-select__option" value="2">Room 2</div>
          <div class="app-sing-in-select__option" value="3">Room 3</div>
        </div>
      </div> -->

      <button class="app-sing-in__btn">Enter room</button>
    </div>
  </div>

</div>
