.header-profile {
  margin-left: 10px;
}
.header-profile__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-profile__menu {
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
}

.header-profile__avatar  {
  display: inline-block;
}

.header-profile__menu-title {
  // vertical-align: top;
  padding: 10px;
}