body {
  height: 100%;
}
.wrapper {
  margin-left: 323px;
}
.sidenav-container {
  height:100%;
  width: 323px;
  position: fixed;
  background-color: #303841;
}
.header-container {
  height: 40px;
  padding: 14px 38px 14px 32px;
}
.main-container {
  padding: 64px 0px 0px 34px;
}

.header__item {
  // display: inline-block;
  // border: 1px solid black;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.header__item--right {
  float: right;
  margin-left: 43px;
}
.header__item--left {
  float: left;
}
