<style>
 .wrapper {
   display: flex;
   height: 100vh;
   flex-direction: column;


   background-color: green;
 }

 .header {
   height: 30px;
   background-color:red;

 }
 .content {
   margin: auto;
   height: 266px;
   width: 570px;

   background-color: black;
 }
 .footer {
   height: 30px;
   background-color: red;
 }

</style>

<div class="wrapper">

  <div class="header">
    <!-- <app-header-menu></app-header-menu> -->
  </div>

  <div class="content">
    <!-- <app-room-select></app-room-select> -->
  </div>

  <div class="footer">

    <!-- <app-footer-menu></app-footer-menu> -->

  </div>
</div>