<div class="customer-info__container">
  <div class="customer-info__header">
    <div class="customer-info__avatar">
      <img src="assets/customer.png">

    </div>
    <div class="customer-info__personal">
      <span class="customer-info__personal-title">
        Max Jones
        <span class="customer-info__personal-status customer-info__personal-status--gold">Gold</span>
      </span>

      <span class="customer-info__personal-text">Sales & Marketing</span>
      <hr>
      <ol class="customer-info__personal_list">
        <li>
          <span class="title">Phone</span>
          <span class="content">(+31) 140 175 468</span>
        </li>
        <li>
            <span class="title">Address</span>
            <span class="content">Binnenweg 50, Rotterdam</span>
        </li>
        <!-- <li>
            <span class="title">Custom</span>
            <span class="content">Come info</span>
        </li> -->
      </ol>

      <button class="primary-btn">Create quote</button>
    </div>
  </div>
  <div class="customer-info__menu">
    <ol>
      <li class="active">
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">Orders</a>
      </li>
      <li>
        <a href="#">Payments</a>
      </li>
    </ol>
  </div>
</div>
